certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.4
common==0.1.2
greenlet==1.1.2
idna==3.3
pyasn1==0.4.8
pycryptodomex==3.14.1
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqt5-tools==5.15.4.3.2
python-dotenv==0.19.2
PyYAML==6.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.27.1
rsa==4.8
SQLAlchemy==1.4.31
tabulate==0.8.9
urllib3==1.26.8
